<div class="row">
    <ul class="nav nav-tabs">
        <li rbac-permission='{"name":"payroll-main-setting-weekend-holiday-view","actionOnInvalid":"remove"}'><a routerLink="Holiday" [routerLinkActive]="'a-tab-active'">Holiday</a></li>
        <li rbac-permission='{"name":"payroll-main-setting-view","actionOnInvalid":"remove"}'><a routerLink="LeaveRuleList" [routerLinkActive]="'a-tab-active'">Leave Rule List</a></li>
        <li><a routerLink="LeaveRequest" [routerLinkActive]="'a-tab-active'">Leave Request</a></li>
        <li><a routerLink="EmployeeLeaves" [routerLinkActive]="'a-tab-active'">Employee Leave Details</a></li>
    </ul>
</div>
<router-outlet>
</router-outlet>
